@import '../../../scss/colors.scss';
.mobile-nav-bar {
    width: 100%;
    background: $color-primary;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
        .header-items-holder {
            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            justify-content: space-between;
            margin-left: 20px;
            margin-right: 20px;

            button {
                color: $color-primary-text;
            }

            .mobile-logo {
                display: flex;
                flex-direction: row;
                align-items: center;

                a {
                    text-decoration: none;
                }

                h1 {
                    font-size: 1.571rem;
                    font-weight: 700;
                    color: $color-primary-text;
                    margin-left: 15px;
                }

                img {
                    max-width: 46px;
                    width: 100%;
                }
            }
        }
    
    .drawer-content {
        width: 256px;
        height: 100%;
    }
}