.content {
  margin: 0 auto;
  max-width: 1000px;

  h1 {
    color: #2a2626de;
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: normal;
    margin-bottom: 42px;
    margin-top: 36px;
  }
}

.gallery {
  border: 1px solid #7070702e;
  border-radius: 5px;
  box-shadow: 0px 3px 6px #00000029;
  padding-bottom: 15px;

  &__header {
    display: flex;
    justify-content: space-between;
    margin: 24px 42px 27px 108px;

    .button-create-album {
      height: 42px;
    }
  }

  &__title {
    align-items: center;
    color: #2a2626de;
    display: inline-flex;
    font-family: 'Medium', 'Roboto';
    font-size: 20px;
    text-align: center;
  }

  &__cards {
    display: flex;

    flex-wrap: wrap;
    justify-content: center;

    .card {
      margin: 0 10px 20px 10px;
    }
  }
}

.gallery__actions {
  margin: 44px -100px 20px 0;
  display: flex;
  justify-content: flex-end;

  .button-finish {
    margin-left: 64px;
  }
}
